<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
     <!--<add key="storageAccountName" value="stroagemediaservice" />
    <add key="storageAccountKey" value="9g3UfyQpzImfbHlyRkQAx4uCDqY/qlwoRYoXeUmP8TDLnAHIGSHjc+xxdKwXF0tXsNkUU9D6FLUwfnm4agqirg==" />
    <add key="azureMediaServiceAccountName" value="testazuremediaservices1" />
    <add key="azureMediaServiceAccountKey" value="9BufYnNZ5uZclaM8e1crxep4cJK4mITjq9ZB7k1Oawc=" />
    <add key="azureMediaServiceUrn" value="urn:WindowsAzureMediaServices" />
    <add key="acsBaseAddress" value="https://wamsprodglobal001acs.accesscontrol.windows.net:443" />
    <add key="govCloudMediaApiServer" value="https://wamsbayclus001rest-hs.cloudapp.net:443/api/" />
    <add key="govCloudEndPointSuffix" value="core.windows.net" />-->
  
    <add key="storageAccountName" value="mediasvccsbgkndq6btcd" />
    <add key="storageAccountKey" value="qS2YDYttVGfGvtaS0q11Sh/JKf7I5IAwNU5HCgLyuiEV8o4kTQykBOVClJP9Vj5tJL4bERqh9TBy5oGWbn9LLw==" />
    <add key="azureMediaServiceAccountName" value="test12" />
    <add key="azureMediaServiceAccountKey" value="c5ai8IVyYkE8nNg2v1JLkxbGbro/9HwvonKth8/bf4o=" />
    <add key="azureMediaServiceUrn" value="urn:WindowsAzureMediaServices" />
    <add key="acsBaseAddress" value="https://ams-usge-0-acs-global-1-1.accesscontrol.usgovcloudapi.net:443" />
    <add key="govCloudMediaApiServer" value="https://ams-usge-1-hos-rest-1-1.usgovcloudapp.net:443/API/" />
    <add key="govCloudEndPointSuffix" value="core.usgovcloudapi.net" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <!--To allow accepting file size to upload upto 1.9 GB maxRequestLength="1947483648" -->
    <httpRuntime targetFramework="4.6.1" maxRequestLength="1947483648" />
  </system.web>
  <system.webServer>
    <!-- adding security tag for allowing to post large videos--> 
    <security>
      <requestFiltering>
        <!-- To allow accepting file size to upload upto 1.9 GB -->
        <requestLimits maxAllowedContentLength="1947483648" />
      </requestFiltering>
    </security>    
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.MediaServices.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.8.0.3" newVersion="3.8.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.MediaServices.Client.Common.BlobTransfer" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.8.0.3" newVersion="3.8.0.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.2.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.2.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
